@import "tailwindcss";

@theme {
  --color-primary-500: #243e28;
  --color-primary-600: #1d3321;
  --color-secondary-500: #6b8f71;
  
  --color-background: #f3f4e1;
  --color-foreground: #243e28;

  --font-sans: var(--font-oxygen), Inter, system-ui, sans-serif;
  --font-kaisei: var(--font-kaisei);
  --font-oxygen: var(--font-oxygen);
  --font-belluga: var(--font-bellota);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-oxygen);

  /* background-color: var(--background); */
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: var(--font-oxygen);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


